
@import url(https://fonts.googleapis.com/css?family=Roboto:400,400italic,700,700italic);
@import url(https://fonts.googleapis.com/css?family=Roboto+Mono:400,400italic,700,700italic,500,500italic);

body {
    font-family: "Roboto";
}

section.header .name {
    font-family: "Roboto";
}

section.header nav {
    font-family: "Roboto";
    /* default: Raleway */
}

section.main .content .title-container .initials {
    font-family: "Roboto";
    /* default: Raleway */   
}

section.main .content .page-heading {
    font-family: "Roboto";
    /* default: Raleway */       
}

section.main .container.f04 .content .num {
    font-family: "Roboto";
    /* default: Raleway */       
}


section.main .content .markdown h1,
section.main .content .markdown h2,
section.main .content .markdown h3,
section.main .content .markdown h4,
section.main .content .markdown h5,
section.main .content .markdown h6 {
    font-family: "Roboto";
    /* default: Raleway */       
}

section.main .content .markdown code,
section.main .content .markdown pre {
    font-family: "Roboto Mono";
    /*   font-family: 'Ubuntu Mono', 'Menlo', monospace; */
}
