{{ partial "header.html" . }}


<main>

  <div class="text">
    <h2>Posts</h2>
    <ul class="page-list">
      {{ $pages := .Pages.ByDate }}
      {{ if .IsHome }}{{ $pages = .Site.RegularPages }}{{ end }}
      {{ range (where $pages "Section" "==" "posts" ) }}
      <li>
        <a href="{{ .RelPermalink }}">{{ .Title | markdownify }}</a>
        <small><time datetime="{{ .Date}}">{{ .Date.Format "2006-01-02" }}</time></small>
      </li>
      {{ end }}
    </ul>
  </div>

  <div class="text">
    <h2>Notizen</h2>
    <ul class="page-list">
      {{ $pages := .Pages.ByDate }}
      {{ if .IsHome }}{{ $pages = .Site.RegularPages }}{{ end }}
      {{ range (where $pages "Section" "==" "notizen" ) }}
      <li>
        <a href="{{ .RelPermalink }}">{{ .Title | markdownify }}</a>
        <small><time datetime="{{ .Date}}">{{ .Date.Format "2006-01-02" }}</time></small>
      </li>
      {{ end }}
    </ul>
  </div>
</main>

{{ partial "footer.html" . }}