{{ partial "header.html" . }}

<header>
  <h1>{{.Site.Title | markdownify}}</h1>
  <p>
    {{.Description}}
  </p>
</header>

<div class="about">
  <div class="image">
    <img src="/jens.png" alt="">
  </div>
  <div class="text">
  Eine Sammlung von Erkenntnissen, Experimenten und anderen Dingen die ich mit dem Internet teilen möchte.
  <p>
    <small>
      Feedback gern an <strong>jblawatt (at) gmail (punkt) com</strong>
    </small>
  </p>
  </div>
</div>

<ul class='page-list'>
  {{ $pages := .Pages.ByDate }}
  {{ if .IsHome }}{{ $pages = .Site.RegularPages }}{{ end }}
  {{ range (where $pages "Section" "==" "posts") }}
  <li>
    <a href="{{ .RelPermalink }}">{{ .Title | markdownify }}</a>
    <small><time datetime="{{ .Date}}">{{ .Date.Format "2006-01-02" }}</time></small>
  </li>
  {{ end }}
</ul>

{{ partial "footer.html" . }}