{{ partial "header.html" . }}

<main class="page">

    <h1>{{ .Title | markdownify }}</h1>
    <p style="text-align: center;">
        {{ if (gt .Params.date 0) }}
        <time datetime="{{ .Date}}">{{ .Date.Format "Monday, 2 January 2006" }}
        </time>
        {{ end }}
        <br>
        {{ range (.GetTerms "tags") }}
        <a href="{{ .Permalink }}">{{ .LinkTitle }}</a>
        {{ end }}
    </p>

    <div class="text">
        {{ .Content }}
    </div>

</main>

{{ partial "footer.html" . }}