<!DOCTYPE html>
<html lang="{{ .Site.Language }}">

<head>
    <link href="https://fonts.googleapis.com/css?family=Archivo+Black|Judson:400,700" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title>{{.Title}} | {{ .Site.Title | markdownify }}</title>
</head>

<body>

<header>
    <a href="/" class="logo">{{ .Site.Title }}</a>
    <nav id="menu" class="menu">
        <a href="/">Startseite</a>
        <a href="/posts">Posts</a>
        <a href="/notizen">Notizen</a>
    </nav>
</header>

    <div class="page">

