/*@import url('https://fonts.googleapis.com/css2?familiy=PT+Serif&family=PT+Mono&family=PT+Sans+Caption:wght@400;700&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
*/

:root {
    --font-main: "Judson", serif, "PT Sans", sans-serif;
    --font-header: "Archivo Black", "PT Sans Caption", "PT Sans", sans-serif;
    --font-mono: monospace;
    --font-size: 18px;

    --color-background: white;
    --color-primary: black;
    --color-default: rgb(34, 34, 34);
    --color-light: gray;
    --color-anchor: black;
}

html {
    font: 18px/1.5 var(--font-main);
    color: var(--color-default);
}

*, pre {
    background-color: var(--color-background) !important
}

header {
    text-align: center;
}

header a.logo {
    text-decoration: none;
    font-weight: bold;
    margin: 1em;
    display: block;
}

header nav {
    margin-bottom: 1em;
}

header nav a {
    margin: 0.3em;
    display: inline-block;
    text-decoration: none;
    border-bottom: solid var(--color-default) 2px;
}

header nav a:hover,
header nav a:focus {
    border-bottom: dotted var(--color-default) 2px;
}

header.intro {
    padding: 3vh 0;
}

header.intro .image img {
    filter: grayscale(100%);
    max-width: 200px;
    text-align: center;
    border-radius: 800px;
}

header.intro .text {
    padding: 1vh 0;
}

a {
    color: var(---color-anchor);
    font-weight: bold;
}

.page>* {
    margin: 0 auto;
}

.page>main {
    max-width: 35rem;
}

ul.page-list {
    padding-left: 0;
}

.page-list li {
    list-style: none;
}


h1,
h2,
h3,
h4 {
    color: var(--color-primary);
    font-family: var(--font-header);
}

code {
    font-size: 0.8em;
    font-family: var(--font-mono);
}

.highlight,
pre {
    margin: 1em 0 1em 0.5em;
}

footer {
    border-top: solid var(--color-light) 1px;
    text-align: center;
    margin: 0 auto;
    max-width: 35rem;
    font-size: 0.8em;
    color: var(--color-light);
}

footer nav a {
    display: inline-block;
    text-decoration: none;
    border-bottom: solid var(--color-light) 1px;
    padding: 0.4em;
    margin: 1em;
}


footer .copyright {
    margin: 1em;
}
